{% extends 'base.html' %}
{%load static%}
{%block content%}

<h1 class="text-center">Shopping Cart </h1>

<br>
{%if not cartitems %}
<h1 class="text-center"><a class="link-secondary btn text-center" href="{% url 'home' %}"><h1>Add Products To the Cart</h1></a></h1>
{%else%}
<div class="card mb-4" style="max-width: 100%;">
    <div class="row no-gutters">
        {%for cartitem in cartitems%}
      <div class="col-md-3">
        <a class="text-dark btn" href="{%url 'productdetail' cartitem.product.id%}"> <img src="{{cartitem.product.imageURL}}" class="card-img" alt="{{cartitem.product.imageURL}}"></a>
      </div>
      <div class="col-md-8 mb-3">
        <div class="card-body">
          <a class="text-dark btn" href="{%url 'productdetail' cartitem.product.id%}"><h5 class="card-title">{{cartitem.product.title}}</h5></a>
          <p class="card-text">{{cartitem.product.description}}</p>
          {%for var in cartitem.variation.all%}
          <p class="card-text">{{var.variation_category|capfirst}}: <span>{{var}}</span></p>
          {%endfor%}
          <p class="card-text"><strong class="text-muted">Price ${{cartitem.product.price}}</strong>
          <strong class="text-muted">Qty: {{cartitem.qty}}</strong><br></p>
          <p></p><form method="POST" action="{%url 'addcart' cartitem.product.id %}">
            {%csrf_token%}
            {%for item in cartitem.variation.all%}
            <input type="hidden" name="{{item.variation_category|lower}}" value="{{item.variation_value|capfirst}}">
            {%endfor%}
            <button type="submit" class="btn btn-secondary">+</button>
            <a class="btn btn-secondary" href="{%url 'decreasecart' cartitem.product.id cartitem.id%}">-</a>
          <a class="btn btn-danger" onclick="return confirm('are you sure you want to delete cart item?')" href="{%url 'removecart' cartitem.product.id cartitem.id%}">Remove</a></p>
            </form>
            <br>
            
        </div>
        <hr>
      </div> 
      
      {%endfor%}
    </div>
  </div>
  <div class="card mb-2" style="max-width: 25%;">
    <a class="btn btn-primary" href="{%url 'checkout'%}">Checkout</a>
  </div>
  <br>
 {%endif%}

{%endblock%}