{%extends 'base.html'%}
{%block content%}

<form method="POST" action="{%url 'forgotPassword'%}">
    {% csrf_token %}
    <div class="card mx-auto" style="max-width:600px; margin-top:40px;">
        <article class="card-body">
            <div class="card-title h1 text-center">Forgot Password</div>
            <p class="text-center mt-4">We will send you instructions to reset your password!</p>
        <div class="form-row">
          <div class="col form-group">
            <label>Email: </label>
            <input class="form-control" type="email" placeholder="Enter Your Email Address" name="email">     
          <br>
          <button class="btn btn-primary" type="submit">submit</button>
        </div>
        <p class="text-center mt-4">Have Password?<a href="{%url 'login'%}">Login</a></p>
    </div>
</div>
    </form>
    <br>
{%endblock%}