{%extends 'base.html'%}
{%load static%}

{%block content%}

<div class="card mb-4">
    <div class="row no-gutters">
      <div class="col-md-3">
        <a href="{%url 'productdetail' sproduct.id%}"><img src="{{sproduct.imageURL}}" class="card-img" alt="{{sproduct.imageURL}}"></a>
      </div>
      <div class="col-md-8 mb-3">
        <div class="card-body">
          <a href="{%url 'productdetail' sproduct.id%}"><h5 class="card-title">{{sproduct.title}}</h5></a>
          <p class="card-text">{{sproduct.description}}</p>

          <form method="POST" action="{%url 'addcart' sproduct.id%}">
            {% csrf_token %}
          {%if colors%}
          
            <div class="item-option-select">
                <h6>Choose Color</h6>
                <select name="color"  required>
                  <option value="" selected disabled>select</option>
                  {%for c in colors %}
                <option value="{{c.variation_value|lower}}"> {{c.variation_value|capfirst}} </option>
                {%endfor%}
                </select>
            </div>
         <br>
            {%endif%}
        {%if capacity%}
        <div class="item-option-select">
          <h6>Choose Capacity</h6>
          <select name="capacity"  required>
            <option value="" selected disabled>select</option>
            {%for cap in capacity %}
          <option value="{{cap.variation_value|lower}}"> {{cap.variation_value|capfirst}} </option>
          {%endfor%}
          </select>
      </div>
      {%endif%}
   <br>
          <p class="card-text"><strong class="text-muted">Price ${{sproduct.price}}</strong></p>  
          <input class="btn btn-primary" type="submit" value="Add to cart">
      </form>
        </div>
      </div> 
    </div>
  </div>

<h1 class="text-center"> Similar Products </h1>
<br>
  <div class="row col-12 justify-content-center">
    {%for product in products%}
    <div class="card col-6 m-2" style="width: 18rem;">
      <a href="{%url 'productdetail' product.id%}"><img class="card-img-top" src="{{product.imageURL}}" alt="{{product.title}}"></a>
      <div class="card-body">
        <a class="text-dark btn" href="{%url 'productdetail' product.id%}"><h5 class="card-title">{{product.title}}</h5></a>
        <p class="card-text">{{product.description|slice:'25'}}</p>
        {%if product not in productslist%}
        <a href="{%url 'productdetail' product.id%}" class="btn btn-primary">View Product Page</a>
        {%else%}
        <a class="btn btn-success" href="{%url 'cart'%}">Added to cart</a>

        {%endif%}
      </div>
      <div class="card-footer">
        <small class="text-muted">Price: ${{product.price}}</small>
      </div>
    </div>
    {%endfor%}
  </div>


{%endblock%}
