{%extends 'base.html'%}
{%load static%}

{%block content%}

<div class="card mb-4">
    <div class="row no-gutters">
      <div class="col-md-3">
        <a href"{%url 'productdetail' sproduct.id%}"><img src="{{sproduct.imageURL}}" class="card-img" alt="{{sproduct.imageURL}}"></a>
      </div>
      <div class="col-md-8 mb-3">
        <div class="card-body">
          <a href"{%url 'productdetail' sproduct.id%}"><h5 class="card-title">{{sproduct.title}}</h5></a>
          <p class="card-text">{{sproduct.description}}</p>
          <p class="card-text"><strong class="text-muted">Price ${{sproduct.price}}</strong></p>  
          {%if sproduct not in productslist%} 
          <a class="btn btn-success" href="{%url 'addcart' sproduct.id%}">Add to cart</a>
          {%else%}
          <a class="btn btn-success" href="{%url 'cart'%}">Added to cart</a>
{%endif%}
        </div>
      </div> 
    </div>
  </div>

<h1 class="text-center"> Similar Products </h1>
<br>
  <div class="row col-12 justify-content-center">
    {%for product in products%}
    <div class="card col-6 m-2" style="width: 18rem;">
      <a href="{%url 'productdetail' product.id%}"><img class="card-img-top" src="{{product.imageURL}}" alt="{{product.title}}"></a>
      <div class="card-body">
        <a class="text-dark btn" href="{%url 'productdetail' product.id%}"><h5 class="card-title">{{product.title}}</h5></a>
        <p class="card-text">{{product.description|slice:'25'}}</p>
        {%if product not in productslist%}
        <a href="{%url 'addcart' product.id%}" class="btn btn-primary">Add to cart</a>
        {%else%}
        <a class="btn btn-success" href="{%url 'cart'%}">Added to cart</a>

        {%endif%}
      </div>
      <div class="card-footer">
        <small class="text-muted">Price: ${{product.price}}</small>
      </div>
    </div>
    {%endfor%}
  </div>
  

{%endblock%}
